// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-text-editor::shadow .string.other.link.wiki.begin {
  color: rgb(57, 200, 28)
}

.atom-text-editor::shadow .string.other.link.wiki {
  color: rgb(200, 28, 162)
}

.atom-text-editor::shadow .string.other.link.wiki.end {
  color: rgb(28, 35, 200)
}
